
<h1 id="daylight-title">Daylight</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="changeDocumentColorOne(this)">Morning</div>
    <div class="box col-md-3 col-md-offset-1" onclick="changeDocumentColorTwo(this)" >Afternoon</div>
    <div class="box col-md-3 col-md-offset-1" onclick="changeDocumentColorThree(this)">Evening</div>
  </div>
</div>
